#!/bin/bash

set -eufo pipefail

echo "Installing Brew Packages and Casks..."

{{ $taps := list
     "homebrew/cask-fonts"
     "dashlane/tap"
     "homebrew/bundle" -}}

{{ $brews := list
     "bat"
     "bash"
     "curl"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "gh"
     "ripgrep"
     "git"
     "node"
     "tmux"
     "chezmoi"
     "python3"
     "thefuck"
     "rustup-init"
     "tlrc"
     "ack"
     "vim"
     "neovim"
     "pipx"
     "pyenv"
     "pyenv-virtualenv"
     "zsh"
     "btop"
     "tree"
     "dashlane-cli"
     "wget" -}}
{{ $casks := list
     "alfred"
     "rectangle"
     "google-chrome"
     "microsoft-teams"
     "iterm2"
     "zoom"
     "spotify"
     "whatsapp"
     "microsoft-excel"
     "microsoft-powerpoint"
     "microsoft-word"
     "onedrive"
     "pycharm"
     "logi-options-plus"
     "readdle-spark"
     "visual-studio-code"
     "miniforge"
     "font-menlo-for-powerline"
     "font-hack-nerd-font"
     "font-jetbrains-mono"
     "font-jetbrains-mono-nerd-font"
     "font-fira-mono-for-powerline"
     "font-fira-code"
     "font-fira-code-nerd-font" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
