{{ $extensions := list
     "aaron-bond.better-comments"
     "DavidAnson.vscode-markdownlint"
     "esbenp.prettier-vscode"
     "GitHub.copilot"
     "GitHub.copilot-chat"
     "GitHub.remotehub"
     "iterative.dvc"
     "James-Yu.latex-workshop"
     "mechatroner.rainbow-csv"
     "ms-python.black-formatter"
     "ms-python.flake8"
     "ms-python.isort"
     "ms-python.python"
     "ms-python.vscode-pylance"
     "ms-toolsai.jupyter"
     "ms-toolsai.jupyter-keymap"
     "ms-toolsai.jupyter-renderers"
     "ms-toolsai.vscode-jupyter-cell-tags"
     "ms-toolsai.vscode-jupyter-slideshow"
     "ms-vscode-remote.remote-wsl"
     "ms-vscode.live-server"
     "ms-vscode.remote-repositories"
     "ms-vsliveshare.vsliveshare"
     "redhat.vscode-yaml"
     "REditorSupport.r"
     "shd101wyy.markdown-preview-enhanced"
     "streetsidesoftware.code-spell-checker"
     "streetsidesoftware.code-spell-checker-german"
     "tamasfe.even-better-toml"
     "valentjn.vscode-ltex"
     "vscodevim.vim"
     "wayou.vscode-todo-highlight"
     "yzhang.markdown-all-in-one" -}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}
