{{ $extensions := list
     "aaron-bond.better-comments"
     "DavidAnson.vscode-markdownlint"
     "esbenp.prettier-vscode"
     "GitHub.copilot"
     "GitHub.copilot-chat"
     "James-Yu.latex-workshop"
     "mechatroner.rainbow-csv"
     "ms-python.black-formatter"
     "ms-python.python"
     "ms-python.vscode-pylance"
     "ms-toolsai.jupyter"
     "ms-toolsai.jupyter-keymap"
     "ms-toolsai.jupyter-renderers"
     "ms-toolsai.vscode-jupyter-cell-tags"
     "ms-toolsai.vscode-jupyter-slideshow"
     "redhat.vscode-yaml"
     "shd101wyy.markdown-preview-enhanced"
     "streetsidesoftware.code-spell-checker"
     "tamasfe.even-better-toml"
     "vscodevim.vim"
     "wayou.vscode-todo-highlight"
     "yzhang.markdown-all-in-one" -}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}
